/* Styles for viewing a list */
.collected {
	text-decoration: line-through;
	color: gray;
}

.paprika-list .item {
        height: 50px;
}

/* Styles for editing a list */
.edit-quantity {
	width: 100%;
}

/* Let's animate some things!!! */
/* Add animation */
.list-item.ng-enter.ng-enter-active, 
.list-item.ng-leave {
    opacity: 1;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}

/* Remove animation */
.list-item.ng-leave.ng-leave-active, 
.list-item.ng-enter {
    opacity: 0;
    -webkit-transition: opacity 300ms linear;
    -moz-transition: opacity 300ms linear;
    transition: opacity 300ms linear;
}
